@model List<Almacen.BL.Servicio>
@{
    ViewBag.Title = "Inicio";
}
 <!-- ======= Schedule Section ======= -->
<section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Servicios</h2>
            <p>Todo Sobre Nuestros Servicios</p>
        </div>

        <div class="row" >
            @foreach (var servicio in Model)
            {
            <div class="col-lg-4 col-md-6">
        
                   
                     <img src="@(ViewBag.adminWebsiteUrl + servicio.UrlImagen)" alt="">
                    <h3><a href="#">@servicio.Descripcion</a></h3>
                    <p>@servicio.DetalleServicio</p>
                </div>
            }
        </div>
    </div>
</section><!-- End Schedule Section -->

<!-- ======= Gallery Section ======= -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Contacto</h2>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Direccion</h3>
                    <address>San Pedro Sula 21102, Honduras</address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="bi bi-phone"></i>
                    <h3>Numero de Telefono</h3>
                    <p><a href="tel:+(504)9861-7955">+(504)9861-7955</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="bi bi-envelope"></i>
                    <h3>Correo</h3>
                    <p><a href="mailto:lonny13z_g343g@fuluj.com">lonny13z_g343g@fuluj.com</a></p>
                </div>
            </div>

        </div>

        <div class="form">
            <form action="~/forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                    </div>
                    <div class="form-group col-md-6 mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Objeto" required>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Mesaje" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Cargando</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Gracias! tu mensaje ha sido enviado</div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
        </div>

    </div>
</section><!-- End Contact Section -->